[2014-03-06 19:27] pepov opened #5 "Locking transitive dependencies?"
How hard it would be, to extend the plugin, to be able to lock all the transitive dependencies as well?

Trying to figure it out, but it doesn't seem to be trivial... I suppose gradle should make the original requested version available through the ResolvedDependency interface

[2014-03-17 17:12] #5 closed, assigned to nobody

[2014-03-19 16:44] rspieldenner opened #7 "Bug in multiproject builds"
Adding tests and a fix to make sure we exclude project level dependencies from the dependency lock

dependencies {
  project(':other-project')
}

[2014-03-24 16:33] #7 closed, assigned to rspieldenner

[2014-05-22 23:53] rspieldenner opened #20 "When generating locks all forces in build.gradle are ignored"
[code]

Isn't respected when generating locks

[2014-05-22 23:57] rspieldenner opened #21 "Multiproject resolves aren't consistent unless transitives are locked"
The plugin needs to lock first level transitives or take into account its dependencies.lock file for dependencies like

[code]

[2014-05-23 00:00] rspieldenner opened #22 "Being able to commit locks would be useful"
Leverage gradle-scm-plugin once ready to create a commitLock task if users choose to also apply an SCM provider like gradle-git-scm-plugin

[2014-06-02 16:53] #22 closed, assigned to nobody

[2014-06-02 19:53] #20 closed, assigned to nobody

[2014-06-03 20:21] #21 closed, assigned to rspieldenner

[2014-06-18 23:47] quidryan opened #29 "Set cacheDynamicVersionsFor to 0 when generating locks"
E.g.

[code]

[2014-07-16 18:41] rspieldenner opened #30 "Check compatibility with Gradle 2.0"

[2014-10-13 04:03] rspieldenner opened #32 "Add ability to always skip certain dependencies."
There were requests to add an ability to list certain dependencies to never be locked.

[2014-10-14 00:40] #32 closed, assigned to rspieldenner

[2014-10-17 18:04] rspieldenner opened #35 "Discuss what the default of includeTransitives should be"
Decide whether the lock should include transitive dependencies by default.

[2014-11-11 18:56] rspieldenner opened #36 "If using -PdependencyLock.overrideFile=<file> error out if file doesn't exist"
Via internal JIRA BUILDTOOLS-712.

Users would like the plugin to fail the build if a specified override file doesn't exist.

[2014-11-12 00:03] rspieldenner opened #37 "Doc cleanup"
Improve documentation to make it clearer what the extension properties do, which are defaults, etc.

[2014-11-27 01:07] rspieldenner opened #38 "dependencyLock.ignore is only checking for existence"
-PdependencyLock.ignore=false is also causing the lock files to be ignored

[2014-12-08 18:47] #30 closed, assigned to rspieldenner

[2014-12-11 17:50] #36 closed, assigned to rspieldenner

[2014-12-12 01:09] lptr opened #40 "Plugin fails to load when loaded through different dependency paths"
When there are two projects in a multi-project build that use different `classpath`s to load the dependency-lock plugin, the plugin fails to load.

Example:

* `project-a` depends on `my-plugin:1.0` which depends on the `gradle-dependency-lock-plugin:2.0.1`.
* `project-b` depends on `my-other-plugin:3.7` which depends on the `gradle-dependency-lock-plugin:2.0.1`.

In this case Gradle loads the dep

[2014-12-12 16:58] #29 closed, assigned to rspieldenner

[2014-12-12 16:58] #37 closed, assigned to rspieldenner

[2014-12-12 16:58] #38 closed, assigned to rspieldenner

[2015-01-16 19:56] rspieldenner opened #41 "Create global multiproject lock file"
IDE projects can be painful with multiprojects with large transitive dependency graphs. Create a lock file that unifies all dependencies across the multiproject.

[2015-01-28 17:25] jeffwatts opened #42 "Plugin should expose a command allowing individual dependencies to be updated"
There is currently nothing in the plugin akin to [`bundle update <dependency>`] (http://bundler.io/v1.3/bundle_update.html) allowing for more targeted dependency updates. The only way to update dependencies is either to manually edit the dependencies.lock file, which is highly error prone and tedious, or to regenerate the entire lock file, which could update far more than the user intends. A more

[2015-01-28 18:30] rspieldenner commented on #42
Any recommendations on how to handle transitive dependency changes from the update?

Quick though would be to keep locks on all direct but the one being asked to update and let transitives change as defined by new resolve.

[2015-01-28 18:32] rspieldenner commented on #42
Oh and we welcome pull requests if you can add the feature before I get some free time.

[2015-01-28 23:53] jmnas opened #43 "Add checksum to lock file"
I'm wondering if it is possible to (optionally) add the sha1 of each dependency to the lock file and verify it when the dependencies are resolved? This would be useful for the paranoid and for people that have dependencies that are known to be updated in place from time to time.

[2015-01-29 01:04] rspieldenner commented on #43
I haven't seen the need for this at my employer so I won't be implementing it. However I'm more than happy to accept a contribution.

[2015-01-29 20:34] jmnas commented on #43
Ok I'll look into it. If you have any thoughts on how to do this let me know.

[2015-02-03 17:54] jeffwatts commented on #42
I'll try to get you a pull request soon, or have someone from my team do so.

Regarding transitive dependencies, I would hope to update them in a similar way to what Bundler does with the `bundle update` command. I think it recomputes the greatest acceptable version based on the dependencies being updates, such that it meets all existing constraints between dependencies. I haven't looked too much

[2015-02-03 20:04] dcow commented on #42
What about the desired workflow? Will I

    gradle update --dependency 'my.org:artifact' --version '1.2'

and then after that runs ensure the proper code changes are made to accommodate the update before committing? Or, will I run the above command and expect the update to throw an error if the update cannot be performed without breaking binary compatibility? I suspect the former scenario is more

[2015-02-03 20:29] rspieldenner commented on #42
So all of our internal jobs generate new locks files and run their test suites before committing the new lock. I figure that's sufficient.

[2015-02-04 00:01] dcow commented on #42
@rspieldenner do you keep your `master` branch locked, or just release branches? What we're looking for is a way to see exactly what dependencies changed between any two releases (commits really) without the archaeologic excavation that is digging through build logs and our artifact server, etc. We don't want to lock down master with the current implementation because you can't perform targeted up

[2015-02-04 00:18] rspieldenner commented on #42
we lock master branches with a daily job to update the locks (but we have a
large dependency graph).

All release branches are locked and can be used to compare dependency
changes.

You could have your pipeline for releasing include the generateLock
saveLock tasks so the release branches would have the file.

You could have all master jobs run with -PdependencyLock.ignore=true or in
gradle.propert

[2015-02-04 03:13] dcow commented on #42
Thanks for the insight. That may work. If not we'll work on a PR.

[2015-02-10 00:51] rspieldenner opened #44 "IDE import doesn't take into account the dependency lock"
taskGraph.whenReady seems to not be called on IDE import

[2015-02-23 03:17] dcow commented on #42
Sorry for the spam--I didn't realize a new comment would be generated every time I updated the commit message containing the issue ref. I've drafted an idea for an `updateLock` task. Let me know what you think.

[2015-02-23 05:35] #44 closed

[2015-02-24 18:51] grodin opened #47 "Add example(s) of use"
It's probably just me, but I'm finding it hard to understand exactly what this plugin does. I think it might help with a particular problem I've got, but right now, I don't understand enough to be able to decide. A crystal clear, quite explicit example would really help.

The problem I'm dealing with is a dependency which is currently under development, so all the releases have version `2.0-SNAPSH

[2015-02-27 16:23] #41 closed

[2015-03-28 21:21] aughr opened #53 "Inner project depending on top-level project can't generate global lock"
I've uploaded a minimal case here:

https://github.com/aughr/nebula-dependency-lock-top-level-issue

[code]

[2015-05-06 20:56] elevenfive opened #56 "Plugin should work with Gradle 2.4"
Using Gradle 2.4 I consistently get the following build exception:

[code]

[2015-05-06 21:07] bmuschko commented on #56
It'll come up soon.

[2015-06-09 15:47] bmuschko commented on #53
Would you mind providing us with a pull request that reproduces the issue so we can easily fix it?

[2015-06-09 15:50] bmuschko commented on #47
Improving the documentation would certainly be helpful.

Using a timestamped SNAPSHOT version is only possible with Gradle >= 2.4. Currently, the plugin doesn't work with 2.4 yet. Once the plugin is compatible with 2.4, you'd be able to solve your use case with the plugin.

[2015-06-09 15:53] bmuschko commented on #43
@jmnas If you need this, you could easily build a plugin that use the functionality of gradle-dependency-lock-plugin and additionally writes checksum files. I am going to close this issue for now. So far nobody else needed this functionality and we don't necessarily want to support edge cases.

[2015-06-09 15:53] #43 closed

[2015-06-09 15:54] bmuschko commented on #42
Looks like the corresponding pull request has been merged and a new version was released containing the functionality. Closing the issue.

[2015-06-09 15:54] #42 closed

[2015-06-09 16:01] bmuschko commented on #40
As a workaround you could probably just add the plugin to the buildscript classpath once in the root project. That'll make it available to all the subprojects.

[2015-06-09 19:05] rtyler commented on #56
@bmuschko from one plugin maintainer to another, I've had good experiences lately with @ysb33r's latest plugin [gradleTest](https://github.com/ysb33r/gradleTest) for testing against multiple Gradle versions.

I actually ran into this issue when I tried to incorporate the dependehcy-lock plugin as a default dependency in [a plugin I maintain](https://github.com/lookout/service-artifact-gradle-plugi

[2015-06-19 18:09] rspieldenner opened #58 "Handle forces on individual dependencies when creating global locks"
We should be able to handle:

[code]

[2015-07-07 23:05] oesolutions commented on #56
We are in the middle of migrating from Gradle 1.12 to 2.4 and ran into this issue. Either we need to wait on a fixed release (and possibly help make that happen), or we need to change course and target Gradle 2.3.

It seems like the 2.4 branch might already have a fix in place for this issue. Is there an estimate on when the 2.4 version could be released? If there are outstanding issues that need

[2015-07-07 23:15] rspieldenner commented on #56
Working on updating publishing plugin to work in 2.4. Should be soon.

[2015-07-13 16:13] rtyler commented on #56
@rspieldenner I've not dug into the source code enough for the plugin, but does it touch enough Gradle internals to make it difficult to track upstream Gradle releases more quickly?

2.5 was just released and the continuous build feature is something I'm quite keen on integrating into our internal developer workflows

[2015-07-13 21:51] rspieldenner commented on #56
Dependency lock is easy to move our publishing plugin isn't. so we're stalled until I get that sorted which looks like early this week

[2015-07-29 17:06] tjoneslo commented on #56
We also are in the stage of upgrading to Gradle 2.4, have hit this issue, and really need this plugin to work for us.

[2015-08-03 10:26] jedi4ever commented on #56
there seems to be branch 2.4 - could you release a snapshot of this?
Or where can I get the snapshot from ?

[2015-08-03 14:05] rspieldenner commented on #56
our plugin release process depends on other of our OSS plugins. I just got
the publishing plugin working so, will be moving through the rest of these
soon.

On Mon, Aug 3, 2015 at 3:26 AM, Patrick Debois <notifications@github.com>
wrote:

[2015-08-11 22:42] chadjnsn commented on #56
Hey, I just wanted to check on this issue. Any luck on updating the publishing plugin/this plugin to work with gradle 2.4/5/6?

[2015-08-18 19:07] dougborg commented on #56
Any updates on when the 2.4 branch will be released?

[2015-08-21 02:47] pmorch commented on #56
Here is the error I'm getting - perhaps it'll help the next guy who googles - may he find this issue...

    * What went wrong:
    A problem occurred configuring root project 'jtest3'.

I'm brand new to gradle, and seeing this plugin not working with the current version of gradle for 3½ months has me worried. So I have to ask: Are the any other gradle features / alternatives that let me track and

[2015-08-21 03:10] pmorch opened #60 "Plugin doesn't work with Gradle 1.8 or 1.9 (at least)"
Please include information about supported gradle versions in [README.md](https://github.com/nebula-plugins/gradle-dependency-lock-plugin/blob/gradle-2.2/README.md). It doesn't work for < 2.0 and [doesn't work for >= 2.4 either](https://github.com/nebula-plugins/gradle-dependency-lock-plugin/issues/56)

For `gradle-1.8` and `gradle-1.9`:

    jtest3> ../gradle-1.9/bin/gradle -g $(pwd)/gradleHome b

[2015-08-21 04:20] rspieldenner commented on #60
This is on my todo list. No plans to support earlier versions. We accept pull requests if anybody wants to backport.

[2015-08-21 04:22] rspieldenner commented on #56
This is the only plugin I know of that does this. I'm slowly going through as time allows to move to new versions. My first priority is keeping internal builds working and we're still on 2.2.1. We accept pull requests to help keep things moving. This will go to 2.6 when I have the time.

[2015-08-21 06:23] pmorch commented on #60
I think it is totally fine, if gradle-dependency-lock-plugin requires gradle >= 2.0. Just in that case, please document it clearly so that I don't have to experience the malfunction and then only after attempting to download a newer version during other debugging attempts discover that the gradle version is at fault.

[2015-08-25 17:53] rspieldenner commented on #60
Documented what versions we test against. Would release if anybody wanted to back port changes to an older version. Will accept pull requests to docs if anybody tests this against older versions.

[2015-08-25 17:53] #60 closed

[2015-08-25 17:54] rspieldenner commented on #56
Releasing 3.0.0 in a few minutes. Supports 2.2.1-2.6 (that's what I've tested against).

[2015-08-25 17:54] #56 closed

[2015-09-06 21:44] datallah opened #63 "Bad interaction with Dependency Substitution when updatinglock"
I'm using the 3.0.0 version of the plugin with gradle 2.6.

I have a project where I've specified a [dependencySubstitution](https://docs.gradle.org/current/dsl/org.gradle.api.artifacts.ResolutionStrategy.html#org.gradle.api.artifacts.ResolutionStrategy:dependencySubstitution(org.gradle.api.Action)) block to prevent conflicting dependencies (as follows):

[code]

The following is the stacktrace wh

[2015-10-01 06:52] ftclausen opened #65 "Incomplete lock file being generated."
We have lots of dependency configurations and the change in [6b95a9e](https://github.com/nebula-plugins/gradle-dependency-lock-plugin/commit/6b95a9e2a37b3ebcf9825df55a08e9cb943b2a4b) makes `generateGlobalLock` and `saveGlobalLock` generate an incomplete global lock file since only *one* configuration is being inspected (as best I can determine). We really do need to loop over each dependency confi

[2015-10-01 22:40] rspieldenner commented on #65
Have you configured the list of configurations you want locked?

If you have and there is still a bug it should be fixed in the next major version. We're going to move to locking per configuration.

[2015-10-01 23:00] ftclausen commented on #65
Ah, I should RTFM better - I take it this is specified in the "configurationNames" option?

[2015-10-22 19:51] benvandenberg commented on #47
We have a fairly complex multi-project Gradle build and have noticed that after 2.2.2, the plugin does not generate complete global.lock files, even after specifying the configurations we use in a

    dependencyLock {
      configurationNames = [ 'list', 'of', 'configuration', 'names' ]
    }

block.

We would like to see multi-project examples to see how the plugin is successfully used internall

[2015-10-23 07:25] nadavc commented on #47
Hey @benvandenberg - thanks for your comments. Could you please describe this in a bit more detail? What is missing, exactly? Is it specific to certain projects or configurations?

[2015-10-23 18:13] benvandenberg commented on #47
This line (in configureGlobalLockTask, DependencyLockPlugin.groovy), which was added in 2.2.3, causes the global.lock file to be nearly empty.

    project.allprojects.each { it.configurations.add(conf) }

When it is removed, the global.lock file is populated again. We declare all of our "lockable" dependencies using the compile configuration, and would expect them to show up.

So I was hoping to

[2015-10-24 07:27] nadavc commented on #47
Writing more comprehensive documentation is definitely on our list. Until that happens, you can find many working examples in our [integration tests](https://github.com/nebula-plugins/gradle-dependency-lock-plugin/blob/master/src/test/groovy/nebula/plugin/dependencylock/DependencyLockLauncherSpec.groovy).

Having said that, if you could provide a working sample, we'd be happy to look into it and p

[2015-10-24 08:46] nadavc commented on #65
Yes, that's right - `dependencyLock.configurationNames` sets the configuration names to be considered for global lock. If none are specified, all configurations are considered (as of version 4.0). Please reopen the issue if you find a problem with this mechanism.

[2015-10-24 08:46] #65 closed

[2015-10-29 06:36] ftclausen commented on #47
As @benvandenberg mentioned above merely adding that empty (in our case) detached configuration seems to nuke the "compile" configuration for all our projects. The resultant lock file only contains project dependencies and some a few testing related configurations. By commenting out `project.allprojects.each { it.configurations.add(conf) }` a complete lock file is generated. I think this detached

[2015-11-11 22:35] #35 closed

[2015-11-11 22:35] #40 closed

[2015-11-24 20:38] DanielThomas opened #75 "Add task to allow a single dependency to be locked to a specific version"
It's a common ask to lock back a single dependency, without having to recalculate the entire lock file.

[2015-11-24 20:41] DanielThomas opened #76 "The force resolution strategy takes a lower precedence than useTarget"
The plugin currently uses `force` to force locked versions, however this interacts poorly with builds that use `eachDependency`, as any `useTarget` there will take precedence over the `force`:

https://docs.gradle.org/current/dsl/org.gradle.api.artifacts.ResolutionStrategy.html#org.gradle.api.artifacts.ResolutionStrategy:eachDependency(org.gradle.api.Action)

For example, if you use this code to a

[2015-11-24 20:46] DanielThomas opened #77 "Suppress requested field if it's the same as locked"
Now we're locking per configuration, the lock files get big pretty quickly. We should clobber the `requested` field if the version is the same as the locked version.

[2015-11-24 20:50] jkschneider commented on #75
May make some ergonomic improvements, but this is currently possible with:

`./gradlew -PdependencyLock.override=group:artifact:version generateLock`

[2015-11-24 22:24] DanielThomas commented on #75
Hmm, but that would recalculate everything else right? In this case, they want to keep everything they have now, but pin back one to a specific version?

[2015-11-25 00:21] rspieldenner commented on #75
Shall fix updateLock to actually work.

[2015-11-25 16:32] DanielThomas opened #78 "Always lock transitives with version ranges and similarly non-deterministic version specifiers"
Currently, if a ranged transitive sneaks in, you have to notice and lock all transitives. It'd be better if we always did the right thing, and transitive locks on everything were unnecessary.

[2015-11-25 18:12] datallah commented on #63
I ended up being able to work around the issue by changing the syntax slightly (explicitly calling **it.**substitute **it.**module). I'm not sure why it matters, but it works:
[code]

[2015-11-25 18:12] #63 closed

[2015-11-25 18:46] datallah commented on #58
This may be slightly different, but I've noticed applying a force in the configurations resolutionStrategy worked in 3.1.0, but no longer works in 4.1.2:

[code]

In my case, I have some direct dependencies which have versions of transitive dependencies that don't exist in public repositories, so this is a workaround that had been working.

[2015-12-01 00:05] DanielThomas opened #79 "Locks still apply when generating locks if task name is abbreviated or fully qualified"
This depends on the task name being specified completely, meaning you can't use an abbreviated task such as `gL` or a qualified task name `:generateLock`/`:subproject:generateLock`:

    if (dependenciesLock.exists() && !shouldIgnoreDependencyLock() && !taskNames.contains(genLockTask.name) &&
                        !taskNames.contains(updateLockTask.name) && !hasGlobalLockTask) {

[2015-12-01 00:26] DanielThomas commented on #79
@rspieldenner FYI.

[2015-12-01 03:56] ftclausen opened #80 "Option dependencyLock.lockAfterEvaluating only takes effect on the command line."
The `dependencyLock.lockAfterEvaluating` option only takes effect when running via the command line, e.g.

    gdl -PdependencyLock.lockAfterEvaluating=false generateGlobalLock saveGlobalLock

I am attempting to fix this and found one solution by wrapping the [option detection line](https://github.com/nebula-plugins/gradle-dependency-lock-plugin/blob/v4.1.2/src/main/groovy/nebula/plugin/dependency

[2015-12-10 18:18] rspieldenner commented on #80
you'll never be able to read a property on an extension you create during configuration during configuration (users won't have a chance to set the property anywhere). The other properties work because they affect tasks, so they have a chance to look up what a user would set it to.

[2015-12-10 19:22] #79 closed

[2015-12-16 02:30] ftclausen commented on #80
Thanks for that clarification!

[2015-12-16 03:02] ftclausen opened #82 "dependencyLock.configurationNames and custom configurations."
Has anyone encountered an issue when using a custom dependency configuration in `dependencyLock.configurationNames`? This causes (for us) an issue with Ivy metadata in Gradle. For example projectA depends on projectB and projectB is in the "myConfiguration" configuration container. This results in the following :

[code]

where the `detachedConfiguration1` is created by gradle-dependency-lock-plug

[2015-12-16 07:48] ftclausen commented on #82
I found a solution to this in the way we declare our dependencies in our build; I'll close this issue.

[2015-12-16 07:48] #82 closed

[2015-12-17 21:31] drobertduke opened #83 "Add the option to ignore version locks on the transitive dependencies of an overridden dependency."
Here's the scenario:

A project has a direct dependency and a transitive dependency.  They are both locked to a specific version in the project's lock file.  I run gradle with dependencyLock.override=directDependency:[new version].

What currently happens:

The direct dependency version is overridden but the transitive dependency version stays locked, regardless of what version the new direct depe

[2016-01-08 22:12] mkornipati opened #84 ""Gradlew -PdependencyLock.useGeneratedGlobalLock=true build" fails with exception"
I am looking for available options for dependency locking and came across this today and looks interesting. I am playing around with this and got into below issue.  We got many multiprojects and I applied this plugin to one of my projects on root level and then just tried below steps.

[code]
 Can see it generated "build\global.lock" with all dependencies I got with locked version.
[code]
  failin

[2016-01-20 13:51] ThomasGilbert opened #86 "spring-boot plugin conflict"
Hi,

I'm trying to use this plugin along with the spring-boot one. There seem to be a conflict as this plugin does not load the dependencies from the .lock file as soon as I apply the spring-boot one. Maybe the problem comes from a spring-boot issue, but I wanted to report to you as well.

[code]

In this example, as soon as you remove the spring-boot plugin and task, it's working as expected.

[2016-01-21 04:13] nadavc commented on #86
Hi Thomas,

I might be misunderstanding the issue, but I wasn't able to reproduce the problem you're describing. Would appreciate if you could take the code I used and clarify what didn't work.

The code is on: https://github.com/nadavc/dl-86.git (run  `./gradlew clean generateLock saveLock build`)

[2016-01-25 07:33] ThomasGilbert commented on #86
Hi,

Thank you very much for your feed-back!
First, not sure why, but I had to had a “:+” and the end of the unversioned dependencies to make it work ☺.

Any way, here’s the test case based on our useful example.

1-      run ./gradlew clean generateLock saveLock build

2-      the lock file is generated and correct

3-      run ./gradlew clean build

4-      the build is still OK

5-      change

[2016-01-28 20:37] rspieldenner opened #87 "Documentation clean up"
Move the text description and examples of the defaults for the dependencyLock extension to be in table form to hopefully convey what to do better.

We're seeing people copy and paste the extension block, which is just documenting the defaults.

[2016-02-02 15:34] apapia opened #88 "Lock buildscript dependencies"
I would like to be able to use dynamic buildscript dependencies with the dependency lock.  Is this as simple as adding the apply lock logic to the project.buildscript.configurations or there some other issue?

[2016-02-02 20:37] rspieldenner commented on #88
Unknown. I haven't tried to lock the buildscript yet. I know the buildscript classpath configuration isn't on the container we lock by default.

[2016-02-02 22:33] apapia commented on #88
It appears to work with the following configuration:
`
project.generateLock {
    configurations = project.configurations + project.buildscript.configurations
}
`
This adds the buildscript dependencies to the lock file.  I'm not sure if this will work if there are conflicting configuration names but that isn't an issue for me.

[2016-02-04 16:33] apapia commented on #88
Actually it looks like this only writes the lock to the lock file.  The lock doesn't appear to take effect during the build however.  I'll look at the source code to see if I can find a way to fix this.

[2016-02-04 16:52] rspieldenner commented on #88
Would need to special case the build script forces
On Thu, Feb 4, 2016 at 8:33 AM apapia <notifications@github.com> wrote:

[2016-02-08 19:01] apapia opened #89 "Lazy evaluation of updateDependencies"
I currently have an issue where I'm using a plugin to configure the dependency lock plugin so that I can share my conventions across multiple Gradle projects in my company.  I would like to configure the updateDependencies so that only certain configurations are updated when running updateLock.  This is because not all of my configurations are acyclic (such as test configurations).  I do not want

[2016-03-24 16:23] DanielThomas opened #92 "Empty dependency lock files cause 'deprecated format' false positives"
This logic seems to trigger on a file that has only `{}` in it:

https://github.com/nebula-plugins/gradle-dependency-lock-plugin/blob/73993558b82916ddeba32a257b7e11eb3806910d/src/main/groovy/nebula/plugin/dependencylock/DependencyLockPlugin.groovy#L382

[2016-03-28 22:30] rspieldenner opened #93 "Determine best way to 'force' dependencies"
is useTarget, force, etc. the correct way to get the force to win

[2016-04-08 12:47] ThomasGilbert commented on #86
Any update about this issue ?
Thanks !

[2016-04-09 19:29] dholbrook commented on #86
I think this is related to https://github.com/spring-gradle-plugins/dependency-management-plugin/issues/77

[2016-04-20 15:43] qinfchen opened #94 "generateGlobalLock issue"
When I run `./gradlew generateLock saveLock`, all lock files get generated properly.  But if I run `./gradlew generateGlobalLock saveGlobalLock`, the global lock file contains the dependencies only for the root :

[code]

Here is my dependency block in build.gradle at the root

[code]

I noticed that if remove the dependencyFilter, then global lock file gets generated properly. Am I doing somethin

[2016-04-22 20:07] rjbrock opened #95 "Lock plugin silently failing"
I am not sure why this is happening, and it very well could be something we have in our config, but it appears that the dependency lock plugin isnt actually locking dependencies.

Build Info:
Building for android, using gradle 2.1 & dependency lock 4.2.0

I dont see any errors, and the dependency lock file was generated via ./gradlew generateLock saveLock. This created a lock file with 2 configura

[2016-04-25 17:32] DanielThomas commented on #95
Without seeing the build, I'd guess that the limiting of the configurations to `compile` and `testCompile` that's the problem. In earlier dependency lock releases, the configurations you configured determined the source of locks for all configuration. The plugin now locks per-configuration, so restricting the configurations will result in surprising behavior if you're used to the old way - in this

[2016-04-25 20:21] rjbrock commented on #95
Thanks for getting back to me @DanielThomas. When I ran this without limiting the configurations, runtime was not one of the options. We have compile, testcompile, and a handful of others (ie pmd, jacoco, etc) that werent related to building the actual app.

[2016-04-25 20:22] rjbrock commented on #95
Oh and I should add, even when removing the config limitations, it still does not lock the dependencies

[2016-04-26 17:13] DanielThomas commented on #95
Odd. I assume the project isn't OSS, so we'd need a reduced test case that reproduces the issue to help. Are you able to reproduce the issue with a bare bones project?

[2016-04-26 20:24] rjbrock commented on #95
Hi Daniel, yeah its not OSS. I did create a test project here: https://github.com/rjbrock/DependencyLocktest

I generated the build.gradle file by running `./gradlew --refresh-dependencies generateLock saveLock`

commons-io is locked at 2.4 but when I sync it pulls in 2.5

[2016-04-26 21:40] DanielThomas commented on #95
Looks right to me. You have a dynamic dependency on `commons-io`:

    compile 'commons-io:commons-io:2.+'

Here's with the lock:

    gw :app:dI --dependency commons-io --configuration compile

    commons-io:commons-io:2.5

    commons-io:commons-io:2.+ -> 2.5
    \--- compile

And without the lock:

    gw :app:dI --dependency commons-io --configuration compile -PdependencyLock.ignore=true

[2016-04-26 21:41] rjbrock commented on #95
Sorry, let me clarify. Generating the lock works perfectly. The problem is that when the dependencies.lock file has version 2.4 locked, doing something like assembleDebug will still bring in version 2.5.

[2016-04-26 22:03] DanielThomas commented on #95
Ah, the Android plugin must be making copies of the configurations in a way that doesn't copy the forces, or before the forces are applied:

    ------------------------------------------------------------
    Project :app
    ------------------------------------------------------------

    _debugAndroidTestApk - ## Internal use, do not manually configure ##
    No dependencies

    _debugAndroid

[2016-04-26 22:04] rjbrock commented on #95
@DanielThomas ah ok, thanks!

[2016-04-26 22:33] DanielThomas commented on #95
If the `configurationNames` extension property isn't set, we generate it in the same code that's responsible for applying the lock. Even when running in an `afterEvaluate` we beat the Android plugin to the punch and read the configuration names before those internal ones are created:

    private void applyLockToResolutionStrategy(DependencyLockExtension extension, Map overrides, String globalLock

[2016-04-29 09:25] wilkinsona commented on #86
I saw the reference to this issue on spring-gradle-plugins/dependency-management-plugin#77. I don't think this issue is related, but the behaviour you're seeing is due to the dependency management plugin that Spring Boot's plugin uses.

The goal of the dependency management plugin is to control the versions of a project's dependencies (both direct and transitive). In the configuration in the examp

[2016-04-29 21:59] DanielThomas commented on #86
Exactly right - `eachDependency` wins over a `force`. We jump through some hoops to make sure that dependency locks are applied as late as possible, so we win; we need to switch to `eachDependency` too.

@rspieldenner we'll probably see issues with align resolution rules too. Think we'll need to do something about this sooner rather than later.

[2016-04-29 22:01] DanielThomas commented on #86
Technically a dupe of #76, but I'll keep this open because there's a bunch of useful context here, and we'll want functional tests that specifically verify Spring's dependency management plugin.

[2016-04-29 22:02] DanielThomas commented on #93
Dupes #76, I'll roll this in there.

[2016-04-29 22:02] #93 closed

[2016-05-02 20:58] #92 closed

[2016-05-02 21:07] #76 closed

[2016-05-02 21:07] #86 closed

[2016-05-03 20:22] #95 closed

[2016-05-03 20:25] rjbrock commented on #95
@DanielThomas Awesome thanks!

Do you happen to know when you will be doing another release?

[2016-05-03 20:29] DanielThomas commented on #95
@rjbrock today! Look for the release in the next few minutes.

[2016-05-03 20:31] rjbrock commented on #95
@DanielThomas  Wow, thats a great turnaround time.  Thanks again for the help!

[2016-05-03 20:32] DanielThomas commented on #86
@ThomasGilbert @dholbrook @wilkinsona release 4.3.0 is on it's way out now. You'll find should co-exist far better with other plugins now:

- Locks are applied inside a `incoming.beforeResolve`, ensuring that locks are applied per-configuration, and at the last possible moment
- We use `eachDependency.useTarget`, which wins over `force` and due to the `beforeResolve` change should win over any oth

[2016-05-03 20:33] DanielThomas commented on #86
Oh, and we appreciate the report - this feedback allowed us to make the plugin immensely more reliable and predictable.

[2016-05-03 20:34] DanielThomas commented on #95
No worries! Appreciate the report - this use case allowed us to make the plugin immensely more reliable and predictable than would have been possible if we were only optimizing for `eachDependency` vs `force`.

[2016-05-05 03:07] scrain opened #99 "filter attempting to detect dynamic version yielding odd lock file"
Maybe more of a question than an issue, but I'd like a filter based just on any dependencies with a dynamic version defined, i.e. "1.2.+"  Using a simple `version.contains('+')` seems to perform some filtering, but yields a lock file with no "locked" attribute, but instead includes `"project": true`

I amended `GenerateLockTaskSpec` to show the issue here: https://github.com/scrain/gradle-dependen

[2016-05-05 16:43] DanielThomas commented on #99
Filtering is obviously a problem for the `isKeyInPeerList` method of determining if a dependency is a project dependency:

                // If this dependency does not exist in our list of peers, it is a standard dependency. Otherwise, it is
                // a project dependency.
                if (!isKeyInPeerList(key, peers)) {
                    deps[key].locked = resolved.moduleVersion

[2016-05-09 17:43] DanielThomas opened #100 "Investigate using taskGraph to determine whether to apply locks"
We're pretty sure that not we're using `beforeResolve` to apply locks, we can remove the custom logic that looks at the start parameters to determine whether to apply the locks.

[2016-05-09 22:00] scrain commented on #99
Yes, that's exactly what I was after... only lock those dependencies defined with dynamic versioning schemes.  I have a work around in that the only dependencies we dynamically define are our own, so I can just filter by group for now, but we'd like to start expanding this to a few key 3rd party dependencies.  Thanks for the info.

[2016-05-10 16:50] apapia commented on #89
I eventually managed to work out how to do this inside my plugin.  You can close this issue if you'd like.

[2016-05-10 16:51] #89 closed

[2016-06-14 05:11] #80 closed

[2016-07-05 22:39] scrain opened #101 "When publishing, the dependency versions in generated POM ignore lock file."
When publishing with either Gradle's `maven` or `maven-publish` plugins, the generated POM file ignores the lock file and instead includes dependency versions as originally declared within the build file.

Sample project can be found [here](https://github.com/scrain/deplock-pom-issue).

**dependency declared in build.gradle**
[code]

**lock info in dependency.lock**
[code]
**sample from resulting

[2016-07-05 22:48] DanielThomas commented on #101
Yup, Gradle's default behavior - they publish the requested dependency details instead of selected. This plugin fixes that:

- https://plugins.gradle.org/plugin/nebula.maven-resolved-dependencies

[2016-07-05 22:48] #101 closed

[2016-07-05 22:55] scrain commented on #101
Ah yes... I was just discovering that along with the https://plugins.gradle.org/plugin/nebula.maven-publish plugin.  Thanks for the quick reply.

[2016-07-13 21:46] itissid opened #102 "Running commitLock twice creates empty commits"
The commit lock feature creates empty commits if there is no lock file to commit. This is possibly a bug. Version 3.0.1 Gradle  2.12

[2016-07-14 01:29] itissid opened #103 "Dependency not refreshed in my use case"
If I use `./gradlew deleteLock updateLock saveLock` the lock for my dynamic dependency is not updated.
But when executed separately `./gradlew deleteLock` and `./gradlew  updateLock saveLock` updates the dependency in my project buildDir. What am I missing?

[2016-07-14 17:26] itissid commented on #103
It seems that if i run the tasks in same gradle runtime the plugin code is configured to hold on to a file handle to the lock file. And that can of course will cause the behavior I expect. Any way of avoiding that for my use case?

[2016-07-14 21:25] itissid commented on #103
Actually I figured out what the exact issue is. Its the fact that when the plugin is applied using `apply plugin:nebula.dependency-lock` that the configurations are resolved and those that are in the lock file are set in place. This is still a bit counter intuitive for me.  I have worked around it by using a combination of updateDependencies and the override parameters for the updateLocka and save

[2016-07-14 21:25] #103 closed

[2016-07-15 19:08] itissid opened #104 "Using a task alias for update, save, commit"
Hi I am not sure why this is happening, but the following code does not change the lock as I expect:

[code]
I have a set of dynamic dependencies I have specified in the `updateDependencies` list.

Running `./gradlew lockTaskAlias` does not update the lock as expected but
`./gradlew updateLock, saveLock, commitLock` does. And the issue is reproducible(i.e. not a repository latency issue or somesuc

[2016-08-31 17:47] rspieldenner commented on #104
so we are manually checking for the presence of certain tasks on the command line to not apply the lock. We need to do this before the taskGraph is ready so it is a string match

[2016-08-31 17:47] #104 closed

[2016-08-31 17:48] rspieldenner commented on #102
i believe this is fixed in the newer versions. Will verify and close if that is the case.

[2016-08-31 17:50] rspieldenner commented on #84
if you save the lock you don't need to `-PdependencyLock.useGeneratedGlobalLock=true` by default we look in the project directory, the useGenerated flags tell us to look in the build directory

[2016-08-31 18:12] rspieldenner opened #105 "Investigate if global.lock is listing firstLevelModule more than once"
Reports that we are listing an informational field more than once. globalLocks having same project listed multiple times for firstLevelModule

[2016-09-29 22:17] ggascoigne opened #106 "Provide option to select latest version where there are conflicts"
When gradle encounters transitive dependencies that result in conflicting versions it's simply selects the latest version.

Is there any way to make this plugin do the same?

For instance on some of our larger builds we're getting failures like this.

[code]

Is the only solution to go through every dependency and exclude this package and only specify the version we want once, explicitly?

[2016-09-29 22:19] DanielThomas commented on #106
@ggascoigne the only reason you'd see that is if you had `failOnVersionConflict()` enabled. Are you saying those same configurations resolve successfully without dependency lock?

[2016-09-29 22:22] ggascoigne commented on #106
They do, the build works fine.

That said, we do have`failOnVersionConflict() set and I'm not at all sure why, so in the short time I might just take that out.

[2016-09-29 22:27] DanielThomas commented on #106
It's going to resolve _every_ configuration, which you won't do for a regular build. Check that every configuration has the appropriate excludes/forces/etc to avoid the conflict if you want to continue using strict conflict resolution.

[2016-09-29 22:27] #106 closed

[2016-09-30 21:44] rspieldenner opened #107 "Provide way to specify a subset of dependencies to lock"
Inclusive filter instead of exclusive filter for determining what's in the file

[2016-10-10 22:49] rspieldenner opened #108 "Generation of global lock interaction with recommendations plugin"
Odd interaction between dependency-recommender and generateGlobalLock

[2016-10-11 16:42] praveengs commented on #102
Hi any update on this one? I am using dependency-lock version 4.3.0 and gradle-git-scm version 3.0.1 and gradle 3.1.

I still get empty push events when I do a commitLock. Even though the push doesnt show any changed files.

Any help would be appreciated.

Thanks

[2016-10-11 20:43] bheisler opened #109 "generateGlobalLock fails with nested projects"
I tried to upload a .zip file with an example project but GitHub doesn't like it so I'll have to describe it instead.

Suppose we have a project like so:

[code]

With contents:

test/build.gradle:

[code]

test/settings.gradle

[code]

test/app/build.gradle

[code]

test/app/app1/build.gradle & test/app/app2/build.gradle:

[code]

Running generateGlobalLock in test/ produces the following error:

[2016-11-02 15:47] mr-e- opened #110 "When publishing an Android lib to maven, the locked dependencies are not being passed into the generated POM file. The POM contains the '+' instead of the locked versions."
Not sure if this is a bug or a feature request but I have other teams that pull my libraries from maven, I would like them to be able to pull published libs, libs that may reference other libs with a '+', but when it is published to maven contain a locked version in the POM file so the other teams don't accidentally pull in a new version of a second level dependency without their knowledge. I don'

[2016-11-02 22:23] rspieldenner commented on #110
The nebula-publishing-plugin does some of that conversion. Dependency lock
has no opinion on publishing currently.

On Wed, Nov 2, 2016 at 8:47 AM mr-e- <notifications@github.com> wrote:

[2016-11-02 22:27] rspieldenner commented on #109
Our plugin does not currently handle that project structure. The 2
structures we handle are:

1) singleproject, build.gradle, settings.gradle, src folder at root level
of git repository
2) 1 level multiproject, top level has build.gradle, settings.gradle to
setup 1..n subprojects
     myroot
     |_build.gradle
     |_settings.gradle
     |_common
     |  |_src
     |  \_build.gradle
     \_app

[2016-11-04 16:20] mr-e- commented on #110
Can that be used by Android? What do you mean 'some' of that conversion?

Currently we are using:

apply plugin: 'maven'
//noinspection GroovyMissingReturnStatement
uploadArchives {
    repositories {
        mavenDeployer {
            repository(url: "https://nexus.com:8444/nexus/content/repositories/sa-releases/") {
                authentication(userName: "sareleasedeployment", password: getSA

[2016-11-04 23:15] rspieldenner commented on #110
Nebula publishing uses maven-publish as the basis, you can check the source
to see what we do to convert dynamic dependencies. I do not know if it will
work for your use case. We separate out locking, publishing, and bintray
publishing into separate plugins since they are separate concerns
On Fri, Nov 4, 2016 at 11:20 AM mr-e- <notifications@github.com> wrote:

[2016-11-24 13:00] kerko opened #112 "Generate globallock problems with depencysubstituion"
When calling `gradlew generateGlobalLock` while also using dependency substitutions. I get an exception. This might be related to what was already reported in #63 .
This is using plugin version 4.3.2 and gradle 3.2
I replaced the actual values with place holders.
The substitution i use is replacing a dependency with a project dependency:
[code]

Stacktrace:
[code]

i also tried the suggested fix i

[2017-01-03 19:17] sghill opened #114 "Confusing behavior for updateLock"
Running `updateLock` with no parameters places a new lock file in the build directory (running `generateLock`). It'd be more intuitive for users of other dependency management systems if this also automatically added the file to the source directory (`saveLock`)

[2017-01-03 19:31] jhspaybar commented on #114
Oh, that would be nice, but the issue I was getting at was that if you already have a lock file and run `updateLock` it doesn't actually update the versions of existing dependencies.  For example, if I have a dependency on `org:foo-lib:1.+` and I'm locked to 1.0.3 when I run `updateLock saveLock` I'll still be on 1.0.3 even though the tool recognizes there's a newer 1.0.4 version.  I have to expli

[2017-01-04 04:29] dcow commented on #114
Other dependency management solutions don't also have a formalized notion of build artifacts and task inputs/outputs. Because `gradle` has a bigger scope, the problem can be decomposed more granularly. Something you *can* do for example is compare the updated lock file with the current lock file for issues or editing before "saving" it. You'd be relying on your version control system to otherwise

[2017-01-24 22:44] jotel opened #115 "Passing `-PdependencyLock.useGeneratedLock=true` is ignored by plugin"
The `dependencyLock.useGeneratedLock` project property does not have any effect.  Moreover the test code which covered that feature had invalid assertions which would be true even if the generated lock file wasn't used.

This fix is provided in this PR: https://github.com/nebula-plugins/gradle-dependency-lock-plugin/pull/113

[2017-01-24 22:45] jotel commented on #84
The fix is provided in this PR: https://github.com/nebula-plugins/gradle-dependency-lock-plugin/pull/113

[2017-01-27 12:15] UmeshAawte opened #116 "Error while building after some additions"
I am getting this error after some code changes relay not sure why but if I revert code it works proper.
Please note that I have added a bin file in the project resource folder.

[code]

The stack Trace is
[code]

[2017-01-27 16:39] rspieldenner commented on #116
Our version calculation code probably doesn't like your branch name. Stick
with release/<something> or feature/<something> or <something>

On Fri, Jan 27, 2017 at 4:15 AM Umesh Aawte <notifications@github.com>
wrote:

[2017-01-31 06:10] #116 closed

[2017-01-31 06:10] UmeshAawte commented on #116
The issue was not with the nebula but some other build issue caused it.

[2017-01-31 20:06] saantiaguilera commented on #110
Im having this exact same issue, what would be the plugin for the conversion ? Or how have other people achieve this ??

[2017-01-31 20:21] DanielThomas commented on #110
This is Gradle's default behavior - it publishes the requested version, rather than the resolved version.

The resolved-versions plugins from https://github.com/nebula-plugins/nebula-publishing-plugin will publish resolved, rather than requested versions:

- https://plugins.gradle.org/plugin/nebula.maven-resolved-dependencies
- https://plugins.gradle.org/plugin/nebula.ivy-resolved-dependencies

Ot

[2017-01-31 20:21] #110 closed

[2017-02-23 23:38] DanielThomas opened #117 "updateLock does not respect overrides"

[2017-03-25 21:26] StFS opened #120 "Multi module project with scala plugin fails when using global.lock"
If I generate a global lock, any subsequent builds of my project fail. If I delete the `global.lock` file, the build succeeds.

I haven't dug into exactly whether there is something specific in our code that is causing this or whether this happens with any project that has the scala plugin applied to it. I can try to create a minimal test project but I wanted to see if anybody has had this experie

[2017-03-28 17:26] StFS commented on #120
A little update on this. I've been trying to figure out what the problem is for the past hour and I'm not really any wiser. However, I did just try to use the non-global locking mechanism and that does look like it works. At least, the compile phase finishes successfully on all my projects so I'm not getting the same error as when I have a `global.lock` file present.
However, we do sort of like th

[2017-03-28 17:30] DanielThomas commented on #120
@StFS certainly possible there's an interaction issue between global locks and configurations used by the Scala plugin - global locks affect all configurations, based on an all-configurations, all-project view of dependencies.

Global dependency locks were a stop-gap implementation to fix classpath and tooling API issues on earlier versions of IntelliJ and Gradle. Since 2016.3, IntelliJ supports p

[2017-03-28 17:54] StFS commented on #120
Thanks for your reply @DanielThomas!

We'll be fine using the per-project locks and everything seems to work fine with them.

Just one thing that struck me was what you said about the per-source-set modules in IntelliJ. Up until now, I've just been annoyed with that feature so I've actually been un-checking that option when I import my gradle projects into IntelliJ. I've never really gotten the po

[2017-03-28 18:48] rspieldenner commented on #120
If you happen to have skew across your projects, like different versions of
guava or apache commons and your sub projects depend on one another odd
things may happen without source set per module
On Tue, Mar 28, 2017 at 10:54 AM Stefán Freyr Stefánsson <
notifications@github.com> wrote:

[2017-03-31 11:31] marvertin opened #121 "generateGlobalLock fails with springboot gradle plugin"
Minimal project with this issue is
https://github.com/marvertin/nebula-dependency-lock-not-work-withspringboot

command:
` gradlew clean build generateGlobalLock`

end with this result:

[code]

[2017-06-04 13:15] ItamarBenjamin commented on #121
👍

[2017-06-21 22:27] vivsrivastav opened #123 "Usage - commitLock with ssh"
I wonder if gradlew commitLock works with ssh keys

Am trying to automate the process of generating the lock file, build and test the application with upgraded dependencies. I can manually commit the files by executing gradlew commitLock from command prompt.

But my use case is to commit the lock file without any human intervention. Wonder if this is possible with nebula.gradle-git-scm and commitL

[2017-06-22 02:45] rspieldenner commented on #123
if you're setup to git clone over ssh without getting a prompt. commitLock
should also work without prompting.

If you have a passphrase on the key you'll need to setup ssh-agent / use
ssh-add.

On Wed, Jun 21, 2017 at 3:27 PM vivsrivastav <notifications@github.com>
wrote:

[2017-06-25 16:49] HarelOpler commented on #121
any update regarding this?

[2017-06-26 05:44] vivsrivastav commented on #123
Yes i can clone git over ssh without  a prompt. In fact i am using ssh_auth_sock. I was able to make it work by  invoking git commands directly (ssh_auth_sock git add, ssh_auth_sock git commit, ssh_auth_sock git push). Not sure if ssh_auth_sock ./gradlew commitLock will propagate the auth sock variable to every git command executed by commitLock.
I will give a try

[2017-06-26 05:46] rspieldenner commented on #123
i do not know how jgit would interact with ssh_auth_sock

On Sun, Jun 25, 2017 at 10:44 PM vivsrivastav <notifications@github.com>
wrote:

[2017-06-26 17:00] DanielThomas commented on #121
Certainly reproducible, but odd error - we usually see this kind of thing where there are dependency cycles, but that doesn't seem to be the case here:

https://github.com/gradle/gradle/issues/1638

Avoid global locks in preference for per-project locks. Uncertain if we'll fix this, as we're phasing out the use of global locks internally.

[2017-08-03 13:56] vbrandl opened #124 "Use version from lockfile when uploading to maven repository"
Currently when you are using the dependency lock plugin and upload the project into a maven repository using the `uploadArchvies` task, the `pom` file still contains the version range.
It would be great if instead the locked version would be written into the `pom` if there is a lock in the project.

[2017-08-03 16:02] DanielThomas commented on #124
@vbrandl not really a concern of locks, Gradle always publishes the requested version, rather than the selected version. This plugin will rewrite the pom for you, to ensure that conflict resolution, replacements, substitutions etc are reflected:

https://plugins.gradle.org/plugin/nebula.maven-resolved-dependencies

[2017-08-03 16:02] #124 closed

[2017-08-05 00:56] jonatan-ivanov commented on #102
@itissid @praveengs

I had the same issue with gradle 4.0.2 and
[code]

I wanted to run `./gradlew clean generateLock saveLock build commitLock` nightly from my CI pipeline (jenkins).
Since I had the same "empty commit" issue, I hacked the `commitLock` task and inserted an action in the front of its action list which will stop the execution of the task if there is nothing to commit.

[code]

[2017-09-02 22:12] grv87 commented on #88
I think that plugin versions should be locked too

[2017-09-03 03:29] DanielThomas commented on #88
Buildscript dependencies are what provide the plugin classpath so it can be applied, so it's not possible for a plugin to lock buildscript configurations. The `plugins` block also doesn't support dynamic dependencies.

An init file _would_ be called soon enough to add buildscript resolution strategies, but that would mean writing this logic in an init file that can apply to all your builds.

Likel

[2017-09-03 17:04] grv87 commented on #88
+1 for implementing this in Gradle core

[2017-09-11 13:44] cajturner opened #125 "Locking on released versions and ignore dev"
Hello!
I am looking at using this plugin but I am having some unwanted behaviour.

I am locking my dependency to `6.+` but a development version is being locked rather than a released build such as `6.4.6`.  I have the same issue if the dev build is `6.4.6-rc1`.
Example:
[code]
I think this is a common problem but I am unable to find any other posts.

Do you have any suggestions of how to prevent

[2017-09-22 11:02] islandsvinur opened #126 "Locked dependencies in a multiproject not recognized when specified in rootproject"
It seems that if a dependency is specified in the rootProject, it isn't recognized by the dependency-lock-plugin.

I have created a minimal example project to illustrate: https://github.com/islandsvinur/nebula-dependency-lock-failure I'm using Mockito as an example here because it releases very frequently.

# How to test

The command I run to check which version of the dependency is used is:
[code

[2017-09-22 11:18] islandsvinur commented on #126
Gradle 4.2

[2017-09-22 15:55] rspieldenner commented on #126
Please try applying the dependency-lock plugin to the subproject

[2017-09-25 06:50] islandsvinur commented on #126
So now we have four cases:

X | Plugin applied to rootproject | Plugin applied to allprojects
--- | --- | ---
**Dependency defined on rootproject** |  islandsvinur/nebula-dependency-lock-failure@420605d1a6c9572cec0a203fb81dc00b3c1ccf95  |  islandsvinur/nebula-dependency-lock-failure@d4792fc970f2250afeb57b60c37f0a5161c2c56a
**Dependency defined on subproject** |   islandsvinur/nebula-dependency-loc

[2017-11-02 11:13] grv87 opened #128 "Warning from automatically applied build-scan plugin"
Gradle 4.3 [introduced automatic application of `build-scan` plugin when `--scan` command-line option is used](https://docs.gradle.org/4.3/release-notes.html#convenient-use-of-build-scan-plugin).

Whenever this is used with `nebula.dependency-lock` (4.9.5), there is a warning from `build-scan` plugin:
[code]

The problem is with `nebula.dependency-lock` plugin exclusively. I tested several other p

[2017-11-06 18:23] #128 closed

[2017-12-18 22:13] tomnis commented on #120
I just ran into this recently.

It looks like the global lock file is overriding the version of scala-library used by zinc:

[code]

Attempting to force the resolution doesn't change the behavior:
[code]

We should be fine using per-project locks too, just wanted to provide a bit from my experience.

[2017-12-19 22:25] rspieldenner commented on #120
yep we don't like global locks, and would like to delete them from the
plugin

They are too imprecise a hammer

On Mon, Dec 18, 2017 at 2:13 PM tomas <notifications@github.com> wrote:

[2017-12-26 11:47] pjfanning opened #130 "Replace org.codehaus.groovy.modules.http-builder:http-builder dependency"
This project no longer seems to be actively maintained and its json-lib dependency brings in some problematic dependencies. Commons-collections 3.2.1 and Commons-beanutils 1.8.0 have CVEs reported against them.

[2018-02-21 12:53] zerogvt opened #135 "lockfile very dirrerent depending on preceding build"
Hi,
the lockfiles produced are very different in the next 2 scenarios:
1. `gradle clean generateLock saveLock`
2. `gradle clean build generateLock saveLock`
In both cases `includeTransitives` is set to true but in the second case (where locks is preceded by build) the lockfile is much longer/detailed.

Is that normal?
Thanks a mil

[2018-02-26 08:26] lukyer opened #136 "QueryDSL locking not working"
Hi,
we use this plugin for locking all our dependencies and it works very well except for QueryDSL library. I think it could be caused by multiple version levels used by QueryDSL.  See https://oss.sonatype.org/content/repositories/snapshots/com/querydsl/querydsl-jpa/4.1.5.BUILD-SNAPSHOT/maven-metadata.xml

Is it possible to workaround this somehow?

Thanks!

[2018-03-06 06:53] DanielThomas commented on #135
I’d guess there must be configurations created by tasks on the fly included in the ‘build’ phase, that aren’t on the configuration container when you only run lock generation.

[2018-03-14 22:09] zerogvt commented on #135
Closing this (covered by your answer).
Btw thanks for your answer and for sharing this code in the first place. Brilliant work :smile_cat:

[2018-03-14 22:09] #135 closed

[2018-04-18 01:13] heuism opened #137 "React Native project with the dependencies from node_modules doesn't need to be locked"
Hi guys,

thanks for the great plugin to lockdown dependencies. However, I ran into an issue with lock down dependencies in build.gradle as those dependencies from node_modules will be include as

[code]

will have to put into

[code]

which then later on break the build for the react native mixpanel, but then when I remove the `path:` and `configuration: 'default'`. The build is normally function

[2018-06-11 18:25] asangal opened #140 "Is there a possibility to create a runnable jar?"
Is it possible for gradle-dependency-local-plugin to create a runnable JAR (i.e. in environments where remote access to compile time/runtime dependencies is not available, any dependency needs to be screened/approved first before uploading those dependency jars to a binary repo (Artifactory)). If we could create a Runnable jar then, that'll save a lot of time in finding all deep down dependencies

[2018-08-01 14:21] martofeld opened #143 "Android AmbiguousConfigurationSelectionException with Gradle 4.9 and local dependencies"
After migrating to Gradle 4.9 I started getting the issue I mentioned above.

Environment:
Gradle Version: 4.9 and 4.8
Nebula Version: 6.0.0
Android Gradle Plugin: 3.1.0

The issue occurs when I have modules with dependencies to other local modules.

My `build.gradle` is:
[code]
I have also tried using implementation and still got the same issue.

Let me know if you need any more information

The

[2018-08-01 14:36] martofeld commented on #143
@sghill It is not our intention to migrate from this plugin since we have a great deal of scripts depending on how nebula works. However, as a side note, [Gradle mentions you](https://docs.gradle.org/current/userguide/dependency_locking.html#_nebula_locking_plugin) and mentions a migration guide which I am yet to find. Do you think you could point me in the right direction?

[2018-11-21 12:51] GFriedrich opened #149 "Broken POM of version 7.0.1"
Currently the POM of version 7.0.1 is broken as it doesn't contain the necessary dependency to Jackson.
This dependency was added to the dependency lock of this plugin exactly one commit after the 7.0.1 was released.
Please either fix the POM or create a new release.
Thanks in advance.

[2018-11-21 19:01] rpalcolea commented on #149
Hi @GFriedrich , thanks for the report

We just released Version 7.1.0 which uses Square Moshi instead of jackson.

Things should be good now.

Feel free to close the ticket

[2018-11-21 19:09] GFriedrich commented on #149
@rpalcolea: Oh wow, that was fast. Works like a charm now. Thx!

[2018-11-21 19:09] #149 closed

[2018-11-27 18:23] inconnu opened #151 "handleSiblingTransitives ignores filters"
In a multi-module project where one module depends on another, the sibling dependencies are included in the dependencies.lock and are always locked even if the filter would exclude it.

dependencyFilter = { String group, String name, String version -> !(group = "a.b.c" && name = "foo")}

If a.b.c:foo is a sibling transitive, it will still be locked to a specific version.

[2019-03-20 20:06] colltoaction opened #159 "Supply chain attack prevention"
This plugin is great for dependency version checks, but is just shy of being also helpful for preventing supply chain attacks. Once we have a locked dependency version, we would also like to verify that the distributed binaries match the ones we used when we locked the version.

There already exists a gradle plugin that tackles this, but it's outdated: https://github.com/signalapp/gradle-witness.

[2019-06-10 15:39] rahulsom commented on #140
Hi @asangal That looks more like a job for https://github.com/johnrengelman/shadow

[2019-06-11 13:37] rhuffman opened #163 "Latest release throws MissingMethodException"
Release 7.5.0 broke some of our builds, throwing a MissingMethodException:

[code]

The version of Gradle being used in that particular build is 4.1.

Here's the full stack trace.

[stacktrace.txt](https://github.com/nebula-plugins/gradle-dependency-lock-plugin/files/3276724/stacktrace.txt)

[2019-06-20 03:25] davidasync opened #165 "Still download all dependencies at gradle 5"
Sorry for noob question,
I well aware that readme has said that this plugin is compatible with gradle version `3.4.1` and `4.4.1`

Does it mean, this plugin no longer works for gradle 5 ?

Here's my build.gradle at root project
[code]

[2019-06-20 17:08] chali commented on #165
Hi @davidasync the plugin needs to be at least version `7.0.0` to work with Gradle 5. I think you might actually encounter problems when running any version `7.+` on lower Gradle than 5. We internally bundle plugins with one Gradle version so we don't invest to heavy backward compatibility testing and support. Hopefully, this answer helped to clarify your question.

[2019-06-21 02:15] davidasync commented on #165
Thank you for replying my issue, but when I executed generateGlobalLock
I got this errors,

[code]

[2019-06-24 01:33] #165 closed

[2019-09-16 21:43] rpalcolea commented on #163
Hi, for versions of the plugin 7.+, we suggest using modern versions of Gradle. At leas 5.0

[2019-09-16 21:43] #163 closed

[2019-09-16 21:46] rpalcolea commented on #159
Hi @colltoaction ,

Thanks for the report.

In the future, gradle-dependency-lock-plugin will leverage a few opinions on top of gradle dependency lock mechanism (core locking) -> https://docs.gradle.org/current/userguide/dependency_locking.html

It would be interesting to chat with gradle folks about this instead.

I'd suggest to open an issue in https://github.com/gradle/gradle

[2019-09-16 21:46] #159 closed

[2019-09-16 21:49] #140 closed

[2019-09-16 23:52] rpalcolea commented on #136
You could probably skip dependencies via `skippedDependencies`

https://github.com/nebula-plugins/gradle-dependency-lock-plugin/wiki/Usage

Feel free to re-open if this doesn't solve your issue

[2019-09-16 23:52] #136 closed

[2019-09-17 00:06] rpalcolea commented on #125
Hi, this is really gradle behavior.

`6.+` tells gradle anything about statuses.

You might want to explore component metadata rules to reject the versions that are snapshot or candidates automatically.

[2019-09-17 00:06] #125 closed

[2019-09-17 00:07] #121 closed

[2019-09-17 00:08] rpalcolea commented on #121
As @DanielThomas , we won't fix this as we don't recommend global locks.

Gradle might introduce this concept in their core locking at some point but from nebula perspective, we will stick with current opinions and lean towards adopting Gradle's as it is inspired by our implementation

[2019-09-17 00:09] #120 closed

[2019-09-17 00:10] rpalcolea commented on #105
Closing this as we don't recommend global locks

[2019-09-17 00:10] #105 closed

[2019-09-17 00:11] #88 closed

[2019-09-17 00:11] rpalcolea commented on #88
Closing this as it is available at Gradle core level

[2019-09-17 00:12] rpalcolea commented on #94
Closing this as we are not planning to support Global locks going forward.
We don't recommend using them and use lock per subproject instead

[2019-09-17 00:12] #94 closed

[2019-09-17 00:14] rpalcolea commented on #53
Closing this as we don't recommend global locks anymore and we are planning to stop including them in our plugin in the future

[2019-09-17 00:14] #53 closed

[2019-09-17 00:15] rpalcolea commented on #77
We might not do this as we are moving to core locking. Our efforts will be in adopting gradle core implementation (inspired by nebula)

[2019-09-17 00:15] #77 closed

[2019-09-17 00:18] rpalcolea commented on #75
Looks like this is done via

[code]

closing now

[2019-09-17 00:18] #75 closed

[2019-09-17 00:21] rpalcolea commented on #107
I don't think we will get into this as Gradle is all or nothing for a given configuration.

When a dependency is pulled and not part of the lock file, it fails on you

cc @OdysseusLives @chali

[2019-09-17 00:21] #107 closed

[2019-09-17 00:22] rpalcolea commented on #130
This is now removed and will be released in https://github.com/nebula-plugins/gradle-dependency-lock-plugin/releases/tag/v8.0.0

[2019-09-17 00:22] #130 closed

[2019-09-17 00:24] rpalcolea commented on #109
Closing this as lack of activity and also with the fact that don't recommend global locks

[2019-09-17 00:24] #109 closed

[2019-09-17 00:25] rpalcolea commented on #114
Hey @sghill , can you fill me in on this one? wondering if there are ergonomics we can improve here in the future

[2019-09-17 00:26] rpalcolea commented on #112
This shouldn't be an issue in latest versions of Nebula and Gradle

With that said, we don't recommend global locks. Instead use lock files per project

[2019-09-17 00:26] #112 closed

[2019-09-17 00:26] rpalcolea commented on #108
This shouldn't be an issue in latest versions of Nebula and Gradle

With that said, we don't recommend global locks. Instead use lock files per project

[2019-09-17 00:26] #108 closed

[2019-09-17 00:26] rpalcolea commented on #117
This doesn't seem to be an issue? closing and see if it pops up again

[2019-09-17 00:27] rpalcolea commented on #102
This shouldn't be an issue with modern versions of the plugin and gradle

[2019-09-17 00:27] #102 closed

[2019-09-17 00:28] rpalcolea commented on #100
This might not be necessary anymore

[2019-09-17 00:28] #100 closed

[2019-09-17 00:28] rpalcolea commented on #99
I expect this not to be an issue anymore

[2019-09-17 00:28] #99 closed

[2019-09-17 00:28] #123 closed

[2019-09-17 00:29] rpalcolea commented on #123
closing due to lack of activity

[2019-09-17 00:32] rpalcolea commented on #137
Hi, sorry for the late response.

I think you would have two options.

1) ignore specific dependencies by using `skippedDependencies`
2) create a configuration for the ones that you don't want to lock and just lock the configurations that matter to you.

The 1st one might be the easiest to accomplish with this plugin (https://github.com/nebula-plugins/gradle-dependency-lock-plugin/wiki/Usage)

In

[2019-09-17 00:33] rpalcolea commented on #143
We don't have a formal migration guide.

@OdysseusLives do you have any insight for this? perhaps share some notes around the migration task that is not included?

[2019-09-17 16:22] OdysseusLives commented on #143
I'll update the project with a migration guide, based off of the release notes for these two versions:

https://github.com/nebula-plugins/gradle-dependency-lock-plugin/releases/tag/v7.3.1 details setting a system property, using the task `migrateToCoreLocks` to migrate existing locks, and the option to lock all configurations (as we do not intend to lock every configuration by default, as some are

[2019-09-17 17:47] rpalcolea commented on #58
This should work with modern versions of the plugin and gradle

[2019-09-17 17:47] #58 closed

[2019-09-17 17:48] OdysseusLives commented on #143
This is now available in the Wiki at https://github.com/nebula-plugins/gradle-dependency-lock-plugin/wiki/Usage-With-Core-Gradle-Locks

[2019-09-19 05:55] jonatan-ivanov commented on #102
@rpalcolea Could you please post the PR which fixed this for the record?

[2019-10-02 05:29] rpalcolea commented on #78
Closing this as we are moving to core locks

[2019-10-02 05:29] #78 closed

[2019-10-02 05:35] #137 closed

[2019-10-14 19:53] tlmurphy opened #178 "Executing commitLock in subfolder (not root scm)"
Is there a way to get `commitLock` to work in a subfolder of a git project? The root project is not gradle, but a sub folder contains a gradle project. This sub folder does not contain a `.git` folder. Currently getting `RepositoryNotFoundException` due to not being in the directory of the `.git` folder I'm guessing.

[code]

[2020-03-27 16:47] ravinatesan commented on #178
Do we have a resolution for this yet?

[2021-01-26 23:39] chzchris opened #211 "Question regarding upgrade from v4.9.5 to v11.1.2"
Hi,
    We have a project using a very old version of dependency lock(v.4.9.5) with Gradle 5.6.x. In v4.9.5 and Gradle 5.6 the `generateLock` generate multiple configuration lock like `compile`/`runtime`/`testCompile `/`testRuntime`...etc and we have those configuration lock in our dependency.lock file for a while.

We recently decided to upgrade to Gradle 6.8 and plugin to v11.1.2. I just found o

[2021-06-21 12:24] lptr opened #215 "`generateLock` task throws exception with newer Guava version (affects older versions)"
Note: this seems to be fixed on the 11.x line, but is a problem for 8.8.0, 9.4.1 and 10.1.0.

I'm trying to upgrade the Guava version used by Gradle itself, and after the upgrade this plugin fails to run. The culprit seems to be on line 60 here where the private `size` field is referred instead of the public `size()` method:

https://github.com/nebula-plugins/gradle-dependency-lock-plugin/blob/10a

[2022-09-07 14:32] eskatos opened #243 "Plugin should not use the deprecated NameMatcher type"
In Gradle 7.1, `org.gradle.util.NameMatcher` has been soft deprecated (`@Deprecated` annotation).

For Gradle 7.6 we wanted to add deprecation nagging to it. Our smoke tests show that the Nebula Dependency Lock Plugin still uses the `NameMatcher` type. We will postpone adding the deprecation nagging because users currently cannot resolve it.

Could you please look into removing that usage from the